# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
.out/
.next/
.nuxt/

# CAP / SAP
gen/
.env
.env.*
default-env.json
*.cds-gen*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Testing
coverage/

# Misc
*.tgz
*.bak
